<div class="container">
    <div class="row">
        <div class="event-info">
            <h3><%= @selected_event.name %></h3>
            <h4>Host: <%= @selected_event.user.first_name %> <%= @selected_event.user.last_name %></h4>
            <h4>Date: <%= @selected_event.date.strftime("%B %d, %Y") %></h4>
            <h4>Location: <%= @selected_event.location %></h4>
            <h4>People who are joining the event: <%= @users_joined.count %></h4>
        </div>
        <div class="col-8">
            <table class="table mt-5">
                <thead class="table-dark">
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">State</th>
                </thead>
                <tbody>
                    <% @users_joined.each do |user_joined| %>
                        <tr>
                            <td><%= user_joined.user.first_name %></td>
                            <td><%= user_joined.user.location %></td>
                            <td><%= user_joined.user.state.state %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <h5 class="mt-5 ms-4 class text-center text-primary">DISCUSSION ABOUT THIS EVENT:</h5>
            <div class="comments overflow-scroll ms-5" style="height: 400px;">
                <% @event_comments.each do |ec| %>
                <h5><%= ec.user.first_name%> says: <%= ec.comment %></h5>
                <p>...................................................................................</p>
                <% end %>
            </div>
                <form class="ms-5 mt-3" action="/comments" method="post">
                    <% if flash[:error] %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p><strong><%= flash[:error] %></strong></p> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% end %>
                    <% if flash[:success] %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong> <%= flash[:success] %> </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% end %>
                    <h5>Add Comment</h5>
                    <div class="form-group">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
                        <input type="hidden" name="comment[event_id]" value="<%= @selected_event.id %>">
                        <textarea class="form-control" name="comment[comment]" id="comment" rows="3"></textarea>
                    </div>
                    <div class="text-end mt-2 mb-5">
                        <input type="submit" class="btn btn-primary" value="Submit Comments">
                    </div>
                </form>
        </div>
    </div>
</div>

